/src/Admin/** linguist-generated=true
/src/Auth/** linguist-generated=true
/src/Management/** linguist-generated=true
/openapi/spec/** linguist-generated=true
/tests export-ignore
/bin export-ignore
/.github export-ignore
